@model ContractManager.Framework.Data.ListResponseBase<ContractManager.Share.DTOs.ContractFileDto>
@using ContractManager.Framework.Enums

@{
	ViewData["Title"] = "Correspondences";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
	<div class="alert alert-danger" role="alert">
		@ViewBag.Error
	</div>
}
<a class="btn btn-primary" asp-action="AddContractFile" asp-controller="ContractFile" asp-route-contractId="@ViewBag.ContractId">Add Contract File</a>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">FileAddress</th>
			<th scope="col">DateAdded</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@{
			if (Model.Status == ResponseStatus.NotFound)
			{
				<p class="text-danger">No Contract Files Found</p>
			}
			else
			{
				int i = 1;
				foreach (var item in Model.Result)
				{
					<tr>
						<th scope="row">@i</th>
						<td>@item.Name</td>
						<td>@item.FileAddress</td>
						<td>@item.DateAdded</td>
						<td>
							<div class="d-felx justify-content-between align-align-items-center">
								<a asp-action="DeleteContractFile" asp-controller="ContractFile" asp-route-id=@item.Id asp-route-contractId=@item.ContractId><i class="bi bi-x-circle me-2 p-0"></i></a>
								<a asp-action="DownloadFile" asp-controller="ContractFile" asp-route-fileId=@item.Id><i class="bi bi-cloud-download"></i></a>
							</div>
						</td>
					</tr>
					i++;
				}
			}
		}
	</tbody>
</table>